{% with widget=field.field.widget %}
    <div class="form-group">
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        <input type="{{ field.widget_type }}" name="{{ field.name }}" class="form-control" id="{{ field.id_for_label }}" aria-describedby="{{ field.name }}_help" {% if field.value is not None %}value="{{ field.value|stringformat:'s' }}"{% endif %}{% include 'forms/attrs.html' with widget=widget %}>
        {% if field.help_text %}
            <small id="{{ field.name }}-help" class="form-text text-muted">
                {{ field.help_text }}
            </small>
        {% endif %}
        {% if field.errors %}
            <div class="valid-feedback">
                <ol>
                    {% for error in field.errors %}
                        <li><strong>{{ error|escape }}</strong></li>
                    {% endfor %}
                </ol>
            </div>
        {% endif %}
    </div>
{% endwith %}