{% extends 'common/layout.html' %}
{% load mcm %}

{% block title %}供应商列表{% endblock %}

{% block main %}
    <div class="card">
        <div class="card-header">
            <div class="row">
                <h3 class="col">供应商列表</h3>
                <div class="col float-right">
                    <form class="float-right input-group" method="get">
                        <input type="text" class="form-control"
                               name="fl"
                               value="{{ fl|default:'' }}"
                               aria-label="过滤条件"
                               aria-describedby="button-addon">
                        <div class="input-group-append">
                            <input type="submit" class="btn btn-outline-secondary" id="button-addon" value="过滤">
                        </div>
                    </form>
                </div>
                <div class="col-1">
                    <a class="btn btn-primary" type="button" href="{% url 'common:provider-create' %}">新增</a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th scope="col">名称</th>
                    <th scope="col">Access Key</th>
                    <th scope="col">Access Secret</th>
                    <th scope="col">SDK类型</th>
                    <th scope="col">操作</th>
                    <th scope="col">同步区域</th>
                </tr>
                </thead>
                <tbody>
                {% for provider in page_obj %}
                    <tr>
                        <th scope="row">{{ provider.name }}</th>
                        <td>{{ provider.access_key }}</td>
                        <td>{% hidden provider.access_secret 24 %}</td>
                        <td>{{ provider.sdk }}</td>
                        <td>
                            <a href="{% url 'common:provider-delete' provider.id %}">删除</a>
                            <a href="{% url 'common:provider-update' provider.id %}">修改</a>
                        </td>
                        <td><a href="{% url 'common:region-sync' provider.id %}">同步</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% pagination %}
        <div>

        </div>
    </div>

{% endblock %}
