{% extends 'common/layout.html' %}
{% block title %}可用区列表{% endblock %}
{% load mcm %}

{% block main %}
    <div class="card">
        <div class="card-header">
            <div class="row">
                <h3 class="col-3">可用区列表</h3>
                <div class="col-9 float-right">
                    {% include 'components/filter.html' %}
                </div>
            </div>
        </div>
        <div class="card-body">
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th scope="col">供应商</th>
                    <th scope="col">大区</th>
                    <th scope="col">名称</th>
                    <th scope="col">说明</th>
                    <th scope="col">可用</th>
                </tr>
                </thead>
                <tbody>
                {% for zone in page_obj %}
                    <tr>
                        <th scope="row">{{ zone.region.provider.name }}</th>
                        <td>{{ zone.region.display }}</td>
                        <td>{{ zone.name }}</td>
                        <td>{{ zone.display }}</td>
                        <td>
                            <input type="checkbox" data-toggle="toggle" class="zone-available-toggle"
                                   data-on="是" data-off="否" data-onstyle="success" data-offstyle="danger"
                                   data-url="{% url 'common:zone-toggle' zone.id %}"
                                   {% if zone.available %}checked{% endif %}>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% pagination %}
        <div>

        </div>
    </div>

{% endblock %}

{% block script %}
    <script>
        $('.zone-available-toggle').change(function () {
            var url = new URL($(this).data('url'), window.location.origin);
            var params = url.searchParams;
            params.set('next', window.location.href);
            params.set('available', $(this).is(':checked'));
            url.searchParams = params;
            window.location.href = url.href;
        })
    </script>

{% endblock %}